{% extends "base" %}
{% block title %}Home - {% endblock title %}
{% block content %}
<div class="h-full flex justify-center flex-col">
    
    <h1 class="text-9xl font-extrabold text-center ">ESRB Plus</h1>
</div>
{% endblock content %}
</html>
